.card-image.img
{
  height:150px !important;
}

.material-icons.md1::before{
  content:"search"; 
}

.material-icons.md1:hover::before{
  content:"navigate_next"; 
}

#slider1 {
    
    display: flex;
    align-items: flex-start;
   

    background-color: antiquewhite;
    height: 176px;
}